@media screen and (max-width: 768px) {
  .flex{
      flex-wrap: wrap;
  }
  .tags__item{
      margin-top: 15px;
  }
}

@media screen and (max-width: 660px) {
  .vakancy__left{
      border-bottom: 3px solid #c4c4c4;
      padding-bottom: 20px;
  }
}
